@font-face {
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('resources/fonts/DidactGothic-Regular.ttf');
}

html {
    height: 100%;
}

html, body {
    display: block;
    width: 100%;
    height: 100%;
	margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    background: #193864;
    color: #EDF4F4;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 21px;
    caret-color: #EDF4F4;
    cursor: default;
    user-select: none;
}

img {
    pointer-events: none;
}

*:focus {
	outline: 0;
}

b, th {
	font-weight: 500;
}

a, a:visited {
	color: #97CED9;
	text-decoration: underline;
	cursor: pointer;
	transition: color 0.25s;
}

a:hover, a:focus, a:active {
	color: #ABE2ED;
	transition: color 0.05s;
	outline: 0;
}

/* general screen stuff */
.screen {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(-45deg, #19285C, #193864);
}

.screen#errorscreen {
    background: linear-gradient(-45deg, #46000D, #9C1731);
}

.screen-back {
    display: block;
    position: fixed;
    top: 32px;
    left: 32px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.35s;
    z-index: 999;
    pointer-events: initial;
    opacity: 0.8;
    transform: scale(1);
}

.screen-back:hover, .screen-back:active, .screen-back:focus {
    transition: 0.15s;
    opacity: 1;
    transform: scale(1.2);
}

.assembl-icon {
    display: block;
    width: 3.5em;
    height: 3.5em;
    margin: 0 auto;
}

.assembl-logo-icon {
    display: inline-block;
    vertical-align: middle;
    width: 3.5em;
    height: 3.5em;
    margin-right: 0.6em;
}

.assembl-logo-text {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Didact Gothic';
    font-weight: 600;
    font-size: 2.5em;
    margin-bottom: 0.1em;
    color: #EDF4F4;
    letter-spacing: 0.03em;
}

.underthelogo {
    margin-top: 72px;
}

.undertheicon {
    margin-top: 32px;
}

input[type=text], input[type=password] {
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 16px;
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.15));
    color: #FFFFFF;
    font-size: 1em;
    width: 618px;
    font-family: 'Courier New', Courier, monospace, Serif;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    cursor: text;
    user-select: initial;
    text-align: center;
    transition: 0.15s;
    box-sizing: border-box;
}

select {
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 16px;
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.15));
    color: #FFFFFF;
    font-size: 1em;
    width: 618px;
    font-family: 'Courier New', Courier, monospace, Serif;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    cursor: pointer;
    user-select: initial;
    text-align: center;
    text-align-last: center;
    transition: 0.15s;
    box-sizing: border-box;
}

select option {
    color: #1A1A1A;
}

input[type=text]:focus, select:focus, input[type=password]:focus, input[type=text]:hover, select:hover, input[type=password]:hover {
    border: 1px solid #004CFF;
}

#password-error {
    font-size: 17px;
    color: #DC143C;
    font-weight: 400;
    margin-bottom: 24px;
}

/* startup screen (splash screen) */
#startup {
    animation: splash 30s ease 0s infinite alternate;
    background: linear-gradient(-45deg, #19285C, #193864, #19285C, #193864, #19285C);
    background-size: 500% 500%;
    text-shadow: 0px 0px 5px #1A1A1A;
    font-size: 2.5vh;
}

#loading {
    animation: splash 30s ease 0s infinite alternate;
    background: linear-gradient(-45deg, #19285C, #193864, #19285C, #193864, #19285C);
    background-size: 500% 500%;
}

@keyframes splash {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#startup > img {
    box-shadow:  0px 0px 5px #1A1A1A;
    border-radius: 50%;
}

#startup .loading-svg {
    margin-bottom: 24px;
    margin-top: 24px;
}

#startup .assembl-logo-icon {
    width: 6em;
    height: 6em;
    margin-right: 1em;
}

#startup .assembl-logo-text {
    font-size: 4.5em;
    letter-spacing: 0.03em;
    margin-bottom: 0.11em;
}

.loading-svg {
    display: inline-block;
    margin: 32px;
    width: 64px;
    height: 64px;
}

#loading-progress {
	display: block;
	height: 12px;
    width: 80%;
    margin: 0px 10% 60px;
	border: none;
	border-radius: 2px;
	color: #004CFF;
    background-color: rgba(255,255,255,0.1);
    white-space: nowrap;
    position: relative;
    overflow: hidden;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#loading-progress::-webkit-progress-bar {
	background-color: rgba(255,255,255,0.1);
	border-radius: 2px;
}

#loading-progress::-webkit-progress-value {
	background-color: #004CFF;
	border-radius: 2px;
}

#loading-progress-inner {
    background-color: #004CFF;
    width: 0%;
    height: inherit;
    position: absolute;
    left: 0;
    transition: 0.1s;
    transition-timing-function: linear;
    border-radius: 2px;
}

#loading-details {
    font-size: 0.6em;
    margin-top: 8px;
}

#extra-loading {
    height: 0px;
    overflow: hidden;
    margin-top: 0px;
    transition: height 1s, margin-top 1s;
}

/* purpose */
.purpose-selector {
    display: block;
}

.purpose-button {
    display: inline-block;
    cursor: pointer;
    background: #183b8c;
    font-family: 'Didact Gothic', Helvetica, Arial, sans-serif;
    letter-spacing: .2px;
    border: none;
    border-radius: 3px;
    padding: 6px 12px;
    margin: 2px 4px;
    color: #EDEDED;
    transition: 0.35s;
    font-size: 1em;
}

.purpose-button:hover, .purpose-button:focus, .purpose-button:active {
    background: #004CFF;
    color: #EDEDED;
    transition: 0.15s;
}

/* sender */
#yourpeerid {
    margin-bottom: 0px;
}

.connect-button {
    display: inline-block;
    cursor: pointer;
    font-family: 'Didact Gothic', Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: .2px;
    background: #183b8c;
    border: none;
    border-radius: 3px;
    padding: 6px 12px;
    margin: 2px 4px;
    color: #EDEDED;
    transition: 0.35s;
    font-size: 1em;
}

.connect-button:hover, .connect-button:focus, .connect-button:active {
    background: #004CFF;
    color: #EDEDED;
    transition: 0.15s;
}

.connect-button#error-btn {
    background: #9B0120;
}

.connect-button#error-btn:hover, .connect-button#error-btn:focus, .connect-button#error-btn:active {
    background: #BA0025;
}

/* file dropper */
#filedropper {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: block;
	width: 100%;
	height: 100%;
}

#filedropper .fakebtn {
    background: #183b8c;
    color: #EDEDED;
    padding: 6px 16px;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.35s;
}

#filedropper:hover .fakebtn, #filedropper:active .fakebtn, #filedropper:focus .fakebtn {
    background: #004CFF;
    color: #EDEDED;
    transition: 0.15s;
}

#itemdropbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border: none;
	pointer-events: none;
    background: linear-gradient(-45deg, #19285C, #193864);
}

div#itemdrop {
	display: block;
	width: 100%;
	margin: 0px;
	padding: 12px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 5;
}

input#fileChooser {
	width: 100%;
	height: 100%;
	cursor: default;
}

#filedropperborder {
    display: block;
    position: absolute;
    top: 24px;
    left: 24px;
    right: 24px;
    bottom: 24px;
    background: rgba(0,0,0,0);
    border-width: 5px;
    border-style: dashed;
    border-color: rgba(237, 244, 244, 0.4);
    transition: border-color 250ms;
    border-radius: 16px;
    pointer-events: none;
    z-index: 3;
}

#fileToUpload:hover + #filedropperborder, #fileToUpload:active + #filedropperborder, #fileToUpload:focus + #filedropperborder, #filedropperborder.active {
    border-color: rgba(237, 244, 244, 0.8) !important;
}

#filedropperdragbg {
    background: linear-gradient(-45deg, #193864, #193884);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 250ms;
}

/* information balloons */
.info-btn {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-left: -40px;
    cursor: pointer;
    opacity: 0.5;
    pointer-events: auto;
}

.info-btn:hover {
    opacity: 0.8;
}

/* announcement */
.announcement {
    display: inline-block;
    padding: 16px 32px;
    margin: -16px auto 48px auto;
    max-width: 60%;
    min-width: 32%;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
}

.announcement.error {
    border: solid 2px #AD102F;
    background: #DC143C;
    color: #39050F;
}

.announcement.warning {
    border: solid 2px #CCA224;
    background: #FFCB2E;
    color: #4C3C0D;
}

.announcement.info {
    border: solid 2px #5FB4C5;
    background: #97CED9;
    color: #255B66;
}

.announcement a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

.announcement a:hover {
    text-decoration-style: double;
}

/* copyright statement */
#copyright {
    display: block;
    position: fixed;
    bottom: 4px;
    right: 8px;
    font-size: 13px;
    color: rgba(255,255,255,0.5);
    user-select: none;
    pointer-events: none;
    z-index: 9999;
}

/* PLACEHOLDER STYLING */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: rgba(255,255,255,0.1);
}

::selection {
    background: #009FFF;
    color: #EDEDED;
}